@use 'var' as *;
@use 'mixins' as *;


.hidden-element {
  visibility: hidden;
  pointer-events: none;
}

@mixin nav {
  .full-nav-desktop {
    position: relative;
    z-index: 1;

    svg {
      transform: translate(0, 15%) !important;
    }

    a {
      font-family: 'TBC', sans-serif;
      text-decoration: none;
      @include font(16px);
    }

    header {
      position: sticky;
      height: 80px;
      width: 100%;
      border-bottom: 1px solid #eef1f1;
      z-index: 10;

      .desktop-nav {
        margin: 0 auto;
        max-width: 1100px;
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        z-index: 10;

        .nav-left {
          display: flex;
          align-items: center;
          gap: 72px;

          .tbc-main-logo {
            fill: $gray;
          }

          .nav-contents {
            display: flex;
            gap: 32px;
            position: relative;
            z-index: 20;
            div {
              position: relative;
              z-index: 20;
              display: flex;
              flex-direction: column;
              .nav-drop-element {
                &::after{
                  content: '';
                  display: block;
                  width: 0;
                  height: 1px;
                  margin:auto;
                  transform: translate(0,27px);
                  background: $not-active-blue;
                  transition: width 0.6s;
                  animation-iteration-count: 1;
                }
                &:focus::after{
                  width: 100%;
                }
              }
              ul {
                //display: flex;
                display: none;
                width: 100%;
                min-width: 166px;
                padding: 0;
                margin: 0;
                top: 84px;
                z-index: 1000;
                position: absolute;
                list-style: none;
                flex-direction: column;
                gap: 16px;
                align-content: start;
                li {
                  a {
                    @include font(14px);
                    font-weight: 500;
                    transition: all 0.5s;
                    &:hover{
                      color: $not-active-blue;
                    }
                  }
                }

              }
            }
          }
        }

        .nav-right {
          margin-left: auto;
          display: flex;
          align-items: center;
          gap: 16px;

          .nav-search {
            transform: translate(0, 0) !important;
            margin: 0;
            padding: 8px;
            cursor: pointer;
            fill: $gray;

            &:hover {
              fill: $active;
            }
          }

          @include dropdown_menu;

          a {
            @include font(14px);
          }
        }
      }
    }

    .nav-rest {
      display: none;
      //display: block;
      height: 242px;
      width: 100%;
      position: absolute;
      z-index: 5;
      transition: opacity 0.1s;
      .main-content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        min-height: 191px;
        height: 100%;
        display: flex;
        padding: 32px;
        gap: 47px;

        .add-image {
          display: flex;
          flex-direction: column;
          gap: 13px;

          a {
            @include font(14px);
          }
        }
      }
    }
  }
}


.animation04s{
  animation-name: opacity;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}
.opacity-0{
  opacity: 0;
}
.animation1s{
  animation-name: opacity;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes opacity {
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 0.5;}
  //75%  {opacity: 0.75;}
  100% {opacity: 1;}
}
@keyframes opacityout {
  0%   {opacity: 1;}
  25%  {opacity: 0.75;}
  50%  {opacity: 0.5;}
  100% {opacity: 0;}
}