$page-size:1110px;
$not-active-blue: #182CC0;
$active: #3295CE;
$gray: #555F62;
$black: #141719;
$gray2:#d1d5d6;
$gray3:#f9fafa;

$font-family: 'Arial, sans-serif';
$background-color: #f1f4fd;
$button-color: #000;
$button-hover-color: #404040;
$scrollbar-track-color: #ccc;
$scrollbar-thumb-color: #000;
$link-color: #0000ff;
$link-hover-color: darken($link-color, 10%);