a {
  font-family: "TBC", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  transition: 0.4s all;
  cursor: pointer;
}
a:hover {
  text-decoration: underline 1px #555F62;
}

.nav-rest-mobile, .mobile-footer {
  z-index: 1;
  position: absolute;
  background-color: white;
  display: none;
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile, .mobile-footer {
    display: block;
    height: fit-content;
    width: 100%;
  }
  .nav-rest-mobile .dropdown-box-wrap, .mobile-footer .dropdown-box-wrap {
    border-bottom: #d1d5d6 solid 1px;
    z-index: 10;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box, .mobile-footer .dropdown-box-wrap .dropdown-box {
    cursor: pointer;
    transition: 1s all;
    padding: 32px 0;
    height: 100%;
    background-color: white;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .dropdown-content, .mobile-footer .dropdown-box-wrap .dropdown-box .dropdown-content {
    padding-top: 16px;
    flex-direction: column;
    gap: 16px;
    transition: all 1.2s;
    position: absolute;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .dropdown-content a, .mobile-footer .dropdown-box-wrap .dropdown-box .dropdown-content a {
    color: #555F62;
    transition: 0.9s;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .dropdown-content a:hover, .mobile-footer .dropdown-box-wrap .dropdown-box .dropdown-content a:hover {
    color: #182CC0;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box, .nav-rest-mobile .dropdown-box-wrap .contact, .mobile-footer .dropdown-box-wrap .dropdown-box, .mobile-footer .dropdown-box-wrap .contact {
    position: relative;
    width: 85vw;
    margin: 0 auto;
    z-index: 0;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .title-arroy, .nav-rest-mobile .dropdown-box-wrap .contact .title-arroy, .mobile-footer .dropdown-box-wrap .dropdown-box .title-arroy, .mobile-footer .dropdown-box-wrap .contact .title-arroy {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .dropdown-title, .nav-rest-mobile .dropdown-box-wrap .contact .dropdown-title, .mobile-footer .dropdown-box-wrap .dropdown-box .dropdown-title, .mobile-footer .dropdown-box-wrap .contact .dropdown-title {
    font-size: 18px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
    font-weight: bold;
    background-color: white;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .dropdown-arroy-image, .nav-rest-mobile .dropdown-box-wrap .contact .dropdown-arroy-image, .mobile-footer .dropdown-box-wrap .dropdown-box .dropdown-arroy-image, .mobile-footer .dropdown-box-wrap .contact .dropdown-arroy-image {
    cursor: pointer;
    transition: 0.6s;
  }
  .nav-rest-mobile .dropdown-box-wrap .dropdown-box .reversed, .nav-rest-mobile .dropdown-box-wrap .contact .reversed, .mobile-footer .dropdown-box-wrap .dropdown-box .reversed, .mobile-footer .dropdown-box-wrap .contact .reversed {
    transform: rotate(180deg);
  }
  .nav-rest-mobile .contact, .mobile-footer .contact {
    position: relative;
    width: 85vw;
    padding: 32px 0 0;
    margin: 0 auto;
    background-color: white;
  }
  .nav-rest-mobile .contact .contact-title, .mobile-footer .contact .contact-title {
    margin: 0 0 16px;
    font-size: 14px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
    font-weight: bold;
  }
}
@media screen and (max-width: 1120px) and (max-width: 900px) {
  .nav-rest-mobile .contact .contact-title, .mobile-footer .contact .contact-title {
    font-size: 24px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
  }
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile .contact .contact-list, .mobile-footer .contact .contact-list {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media screen and (max-width: 1120px) and (max-width: 900px) {
  .nav-rest-mobile .contact .contact-list, .mobile-footer .contact .contact-list {
    gap: 32px;
  }
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile .contact .contact-list a, .mobile-footer .contact .contact-list a {
    display: inline-flex;
    align-items: center;
  }
  .nav-rest-mobile .contact .contact-list a img, .mobile-footer .contact .contact-list a img {
    margin-right: 8px;
    width: 16px;
    height: 16px;
  }
  .nav-rest-mobile .contact .contact-list a p, .mobile-footer .contact .contact-list a p {
    font-size: 14px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
    font-weight: 500;
    color: #555F62;
    margin: 0;
  }
  .nav-rest-mobile .contact .contact-list a p:hover, .mobile-footer .contact .contact-list a p:hover {
    text-decoration: underline #555F62;
  }
  .nav-rest-mobile .social-media, .mobile-footer .social-media {
    width: 85vw;
    margin: 0 auto 24px;
  }
  .nav-rest-mobile .social-media .social-title, .mobile-footer .social-media .social-title {
    font-size: 14px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
    font-weight: bold;
  }
}
@media screen and (max-width: 1120px) and (max-width: 900px) {
  .nav-rest-mobile .social-media .social-title, .mobile-footer .social-media .social-title {
    font-size: 24px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
  }
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile .social-media .social-media-list, .mobile-footer .social-media .social-media-list {
    display: flex;
    gap: 16px;
    margin-top: 24px;
  }
  .nav-rest-mobile .social-media .social-media-list svg, .mobile-footer .social-media .social-media-list svg {
    width: 16px;
    height: 16px;
    padding: 18px;
    background-color: #f9fafa;
    fill: #555F62;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
  }
  .nav-rest-mobile .social-media .social-media-list svg:hover, .mobile-footer .social-media .social-media-list svg:hover {
    fill: #182CC0;
    background-color: #ebeeee;
  }
  .nav-rest-mobile .social-media-footer, .mobile-footer .social-media-footer {
    margin-bottom: 48px;
  }
  .nav-rest-mobile .nav-footer-mobile, .mobile-footer .nav-footer-mobile {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eef1f1;
    width: 100%;
    height: 88.8px;
  }
}
@media screen and (max-width: 1120px) and (max-width: 900px) {
  .nav-rest-mobile .nav-footer-mobile, .mobile-footer .nav-footer-mobile {
    background-color: #f9fafa;
    height: 151px;
  }
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents {
    gap: 24px;
    display: flex;
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1120px) and (max-width: 900px) {
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents {
    align-items: start;
    justify-content: center;
    flex-direction: column;
    flex-flow: column-reverse;
  }
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents p, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents p {
    font-size: 12px;
    font-family: "TBC";
    line-height: 1.7;
    color: #141719;
    color: #555F62;
  }
}
@media screen and (max-width: 1120px) and (max-width: 900px) {
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents p, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1120px) {
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-left, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-left {
    display: flex;
    align-items: center;
  }
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-left svg, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-left svg {
    fill: #555F62;
    height: 21px;
    width: 21px;
    margin-right: 8px;
    transform: translate(0, 25%);
  }
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-right, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-right {
    display: flex;
    gap: 36px;
  }
}
@media screen and (max-width: 1120px) and (max-width: 450px) {
  .nav-rest-mobile .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-right, .mobile-footer .nav-footer-mobile .nav-footer-mobile-contents .nav-footer-right {
    flex-direction: column;
  }
}

.nav-rest-mobile {
  position: relative;
  height: calc(100vh - 80px);
  overflow-y: auto;
}
.nav-rest-mobile::-webkit-scrollbar {
  width: 0;
}

.mobile-footer {
  display: none;
  position: static;
  z-index: 0;
}
@media screen and (max-width: 770px) {
  .mobile-footer {
    display: block;
  }
}

.animation04s {
  animation-name: opacity;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

.opacity-0 {
  opacity: 0;
}

.animation1s {
  animation-name: opacity;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

.hidden-element {
  animation-name: opacityout;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}
.dropdown-active {
  animation-name: active_nav;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.4s;
}

.dropdown-hidden {
  animation-name: deactive_nav;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 1s;
}

.increased-height1 {
  padding-bottom: 58.6px !important;
}

.increased-height2 {
  padding-bottom: 101.3px !important;
}

.increased-height3 {
  padding-bottom: 128px !important;
}

.increased-height4 {
  padding-bottom: 170.6px !important;
}

@keyframes active_nav {
  0% {
    display: flex !important;
    opacity: 0;
  }
  25% {
    display: flex !important;
    opacity: 0.25;
  }
  50% {
    display: flex !important;
    opacity: 0.5;
  }
  100% {
    display: flex;
    opacity: 1;
    height: fit-content !important;
  }
}
@keyframes deactive_nav {
  0% {
    display: flex;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.additional-information-wrap {
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
  flex-direction: column-reverse;
  gap: 12px;
}
@media screen and (max-width: 1440px) {
  .additional-information-wrap {
    bottom: 32px;
    right: 32px;
  }
}
@media screen and (max-width: 1120px) {
  .additional-information-wrap {
    bottom: 24px;
    right: 24px;
  }
}
@media screen and (max-width: 470px) {
  .additional-information-wrap {
    bottom: 15px;
    right: 15px;
  }
}
.additional-information-wrap .additional-information {
  cursor: pointer;
  width: 56px;
  height: 56px;
  background-color: #424a4d;
  border-radius: 50%;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 470px) {
  .additional-information-wrap .additional-information {
    width: 48px;
    height: 48px;
  }
}
.additional-information-wrap .additional-information svg {
  position: absolute;
  fill: white;
}
.additional-information-wrap .component {
  display: none;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid #eef1f1;
  background-color: white;
  transition: 0.4s all;
}
@media screen and (max-width: 470px) {
  .additional-information-wrap .component {
    width: 48px;
    height: 48px;
  }
}
.additional-information-wrap .component:hover {
  background-color: #3295CE;
}
.additional-information-wrap .component:hover svg {
  fill: white;
}
.additional-information-wrap .component svg {
  transition: 0.4s all;
  width: 28px;
  height: 28px;
  fill: #555F62;
}

* {
  margin: 0 0;
  padding: 0 0;
  font-family: "TBC";
}
* html {
  scroll-behavior: smooth;
}
* body {
  overflow: hidden;
}
* img {
  -webkit-user-drag: none;
}
* a {
  -webkit-user-drag: none;
}

@font-face {
  font-family: "TBC";
  src: url("../fonts/TBCXRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TBC";
  src: url("../fonts/TBCXMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TBC";
  src: url("../fonts/TBCXBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.blue-hover {
  color: #182CC0 !important;
  transition: 0.4s all;
  font-weight: 700;
}
.blue-hover:hover {
  color: #3295CE !important;
}
@media screen and (max-width: 470px) {
  .blue-hover {
    font-size: 14px !important;
    width: min-content;
  }
}

h4 {
  font-size: 24px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}

p {
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #555F62;
}

.px14 {
  font-size: 14px !important;
  font-weight: normal !important;
}

.full-nav-desktop {
  background-color: white;
  top: 0;
  z-index: 10000;
}
.full-nav-desktop svg {
  transform: translate(0, 15%) !important;
}
.full-nav-desktop a {
  z-index: 12;
}
.full-nav-desktop a:hover {
  color: #182CC0;
  text-decoration: none;
}
.full-nav-desktop header {
  top: 0;
  right: 0;
  height: 79px;
  width: 100%;
  border-bottom: 1px solid #eef1f1;
  z-index: 1000;
}
@media screen and (max-width: 1120px) {
  .full-nav-desktop header {
    background-color: #f9fafa;
    position: sticky;
  }
}
.full-nav-desktop header .desktop-nav {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 10;
}
@media screen and (max-width: 1120px) {
  .full-nav-desktop header .desktop-nav {
    margin: 0 auto;
    justify-content: space-between;
    max-width: 85%;
  }
}
.full-nav-desktop header .desktop-nav .nav-left {
  display: flex;
  align-items: center;
  gap: 72px;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .full-nav-desktop header .desktop-nav .nav-left {
    gap: 0;
  }
}
.full-nav-desktop header .desktop-nav a .tbc-main-logo {
  fill: #555F62;
}
.full-nav-desktop header .desktop-nav a .second-logo {
  display: none;
}
@media screen and (max-width: 900px) {
  .full-nav-desktop header .desktop-nav a .tbc-main-logo {
    display: none;
  }
  .full-nav-desktop header .desktop-nav a .second-logo {
    display: block;
  }
}
.full-nav-desktop header .desktop-nav .nav-contents {
  display: flex;
  gap: 32px;
  position: relative;
  z-index: 20;
}
@media screen and (max-width: 1120px) {
  .full-nav-desktop header .desktop-nav .nav-contents {
    display: none;
  }
}
.full-nav-desktop header .desktop-nav .nav-contents div {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
}
.full-nav-desktop header .desktop-nav .nav-contents div .nav-drop-element::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  margin: auto;
  transform: translate(0, 27px);
  background: #182CC0;
  transition: width 0.6s;
  animation-iteration-count: 1;
}
.full-nav-desktop header .desktop-nav .nav-contents div .nav-drop-element:focus::after {
  width: 100%;
}
.full-nav-desktop header .desktop-nav .nav-contents div ul {
  display: none;
  width: 100%;
  min-width: 166px;
  padding: 0;
  margin: 0;
  top: 84px;
  z-index: 1000;
  position: absolute;
  list-style: none;
  flex-direction: column;
  gap: 16px;
  align-content: start;
}
.full-nav-desktop header .desktop-nav .nav-contents div ul li a {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  font-weight: 500;
  transition: all 0.5s;
}
.full-nav-desktop header .desktop-nav .nav-contents div ul li a:hover {
  color: #182CC0;
}
.full-nav-desktop header .nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 750px) {
  .full-nav-desktop header .nav-right {
    gap: 0px;
  }
}
@media screen and (max-width: 500px) {
  .full-nav-desktop header .nav-right .blue-hover {
    font-size: 12px;
  }
}
@media screen and (max-width: 470px) {
  .full-nav-desktop header .nav-right a.blue-hover {
    display: none;
  }
}
.full-nav-desktop header .nav-right .nav-search {
  transform: translate(0, 0) !important;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  fill: #555F62;
}
@media screen and (max-width: 500px) {
  .full-nav-desktop header .nav-right .nav-search {
    padding: 0px;
  }
}
.full-nav-desktop header .nav-right .nav-search:hover {
  fill: #3295CE;
}
.full-nav-desktop header .nav-right .burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.full-nav-desktop header .nav-right .burger span {
  height: 3px;
  width: 70%;
  transform: scale(1);
  background-color: #555F62;
}
.full-nav-desktop header .nav-right .burger::before, .full-nav-desktop header .nav-right .burger::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: #555F62;
  transition: all 0.3s ease 0s;
}
.full-nav-desktop header .nav-right .burger::before {
  top: 0;
  height: 2px;
}
.full-nav-desktop header .nav-right .burger::after {
  bottom: 0;
}
.full-nav-desktop header .nav-right .burger.active span {
  transform: scale(0);
}
.full-nav-desktop header .nav-right .burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  width: 100%;
  height: 2px;
}
.full-nav-desktop header .nav-right .burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
  width: 100%;
  height: 2px;
}
@media (max-width: 1099px) {
  .full-nav-desktop header .nav-right .burger {
    display: flex;
  }
  .full-nav-desktop header .nav-right .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    animation: burgerAnimation 0.4s;
  }
  .full-nav-desktop header .nav-right .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}
.full-nav-desktop header .nav-right a {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  min-width: 156px;
}
.full-nav-desktop header .nav-right .dropbtn {
  font-weight: bold;
  cursor: pointer;
  color: #555F62;
  font-size: 16px;
  border: none;
  transition: 0.2s all ease-in-out;
  padding: 8px 10px;
  border-radius: 10%;
}
@media screen and (max-width: 1120px) {
  .full-nav-desktop header .nav-right .dropbtn {
    background-color: #f9fafa;
  }
}
.full-nav-desktop header .nav-right .dropdown {
  position: relative;
  display: inline-block;
}
.full-nav-desktop header .nav-right .dropdown-content {
  min-width: 100%;
  width: 100%;
  z-index: 10;
  padding-top: 8px;
  display: none;
  position: absolute;
  background-color: transparent;
}
.full-nav-desktop header .nav-right .dropdown-content a {
  text-align: center;
  min-width: 100%;
  width: 100%;
  padding: 12px 0px;
  background-color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.4s all ease-in-out;
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.full-nav-desktop header .nav-right .dropdown-content a:hover {
  background-color: #e6e6e6;
}
.full-nav-desktop header .nav-right .dropdown:hover .dropdown-content {
  display: block;
}
.full-nav-desktop header .nav-right .dropdown:hover .dropbtn {
  background-color: #e6e6e6;
}
@media screen and (max-width: 1120px) {
  .full-nav-desktop header .nav-right .dropdown {
    display: none;
  }
}

.nav-rest {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01);
  display: none;
  height: 242px;
  width: 100%;
  position: absolute;
  z-index: 5;
  transition: all 0.4s;
}
.nav-rest .main-content {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  min-height: 191px;
  height: 100%;
  display: flex;
  padding: 32px 0;
  gap: 47px;
}
.nav-rest .main-content .add-image {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.nav-rest .main-content .add-image a {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}

.scroll-content {
  position: absolute;
}
.scroll-content main .whole-width {
  background-color: #f9fafa;
}
.scroll-content main .whole-width section {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .whole-width section {
    margin: 0 auto;
    max-width: 85%;
  }
}
@media screen and (max-width: 770px) {
  .scroll-content main .whole-width section {
    max-width: 100%;
  }
}
.scroll-content main .whole-width section .small-title {
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  padding: 24px 0;
  margin: 0;
  font-weight: 500;
}
@media screen and (max-width: 770px) {
  .scroll-content main .whole-width section .small-title {
    width: 85%;
    margin: auto;
  }
}
.scroll-content main .whole-width section .picture1 {
  background-image: url("../images/banner1.webp");
  background-size: 101%;
}
.scroll-content main .whole-width section .picture2 {
  background-image: url("../images/banner2.png");
  background-size: 105%;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .whole-width section .picture2 {
    background-size: 1400px !important;
  }
}
.scroll-content main .whole-width section .concept-banner {
  margin: 32px 0 60px;
  width: 100%;
  min-height: 376px;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  background-color: rgba(69, 72, 73, 0.6);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .whole-width section .concept-banner {
    margin: 0;
    min-height: 450px;
    background-size: 1100px;
    align-items: flex-end;
  }
}
.scroll-content main .whole-width section .concept-banner .banner-info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 910px;
  width: 85%;
  line-height: 1.5;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .whole-width section .concept-banner .banner-info {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 750px) {
  .scroll-content main .whole-width section .concept-banner .banner-info {
    font-size: 24px;
    width: 94%;
  }
}
.scroll-content main .whole-width section .concept-banner .banner-info h3 {
  font-size: 28px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  margin: 0;
  color: white;
  padding: 0;
  height: 42px;
}
@media screen and (max-width: 1300px) {
  .scroll-content main .whole-width section .concept-banner .banner-info h3 {
    font-size: 24px;
  }
}
.scroll-content main .whole-width section .concept-banner .banner-info p {
  margin: 0;
  width: 540px;
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: white;
}
@media screen and (max-width: 1300px) {
  .scroll-content main .whole-width section .concept-banner .banner-info p {
    font-size: 14px;
  }
}
@media screen and (max-width: 750px) {
  .scroll-content main .whole-width section .concept-banner .banner-info p {
    max-width: 100%;
    width: 100%;
  }
}
.scroll-content main .whole-width section .concept-banner .banner-info a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #182CC0;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.43));
  transition: 0.25s all;
  border-radius: 4px;
  text-decoration: none;
}
.scroll-content main .whole-width section .concept-banner .banner-info a svg {
  fill: white;
  margin-right: 4px;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .whole-width section .concept-banner .banner-info a {
    width: 100% !important;
  }
}
.scroll-content main .whole-width section .concept-banner .banner-info a:hover {
  background-color: #3295CE;
  background-image: linear-gradient(0deg, transparent, transparent);
}
.scroll-content main .whole-width section .concept-banner .banner-info a p {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
}
.scroll-content main article {
  max-width: 1110px;
  width: 100%;
  margin: 120px auto 0;
}
@media screen and (max-width: 1120px) {
  .scroll-content main article {
    margin: 72px auto 0;
    max-width: 85%;
  }
}
.scroll-content main article h1 {
  font-size: 36px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 1120px) {
  .scroll-content main article h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 770px) {
  .scroll-content main article h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 470px) {
  .scroll-content main article h1 {
    font-size: 14px;
  }
}
.scroll-content main h4 {
  margin: 120px 0 36px;
}
@media screen and (max-width: 1120px) {
  .scroll-content main h4 {
    margin: 100px 0 36px;
  }
}
@media screen and (max-width: 770px) {
  .scroll-content main h4 {
    font-size: 14px;
  }
}
.scroll-content main .container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  width: 100%;
  margin-bottom: 60px;
}
@media screen and (max-width: 770px) {
  .scroll-content main .container-grid {
    overflow-x: scroll !important;
    display: flex;
  }
  .scroll-content main .container-grid .grid-elem {
    width: 280px !important;
    height: 232px !important;
  }
}
.scroll-content main .container-grid a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  background-color: rgba(69, 72, 73, 0.6);
  background-blend-mode: overlay;
  transition: 0.4s;
}
.scroll-content main .container-grid a .contents {
  padding: 40px;
}
.scroll-content main .container-grid a .contents p {
  transition: 0.4s all;
  padding: 0;
  margin: 0;
  text-decoration: underline white solid 1px;
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: white;
  font-weight: bold;
}
.scroll-content main .container-grid a .contents p svg {
  transition: 0.4s all;
  transform: translate(0, 25%);
  fill: white;
  margin-right: 4px;
}
.scroll-content main .container-grid a .contents p:hover {
  color: #d1d5d6;
  text-decoration: none;
}
.scroll-content main .container-grid a .contents p:hover svg {
  fill: #d1d5d6;
}
.scroll-content main .container-grid a .contents h3 {
  font-size: 24px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}
@media screen and (max-width: 770px) {
  .scroll-content main .container-grid a .contents h3 {
    font-size: 16px;
  }
}
.scroll-content main .left-top {
  height: 256px;
  grid-column: 1;
  grid-row: 1;
  border-radius: 8px;
  background-position: center;
  background-image: url("https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png");
  background-size: auto 130%;
}
.scroll-content main .left-top:hover {
  background-size: auto 135%;
}
.scroll-content main .left-bottom {
  height: 256px;
  grid-column: 1;
  grid-row: 2;
  border-radius: 8px;
  background-position: center;
  background-image: url("https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png");
  background-size: 100%;
}
.scroll-content main .left-bottom:hover {
  background-size: 104%;
}
.scroll-content main .right {
  border-radius: 8px;
  grid-column: 2/3;
  grid-row: 1/3;
  background-position: center;
  background-image: url("https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png");
  background-size: auto 100%;
}
.scroll-content main .right:hover {
  background-size: auto 104%;
}
@media screen and (max-width: 770px) {
  .scroll-content main .container-grid {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 6px;
  }
  .scroll-content main .container-grid .grid-elem {
    flex: 0 0 auto;
    width: 280px;
    height: 232px;
    margin-right: 10px;
  }
}
.scroll-content main .cards {
  padding: 60px 0;
  gap: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .cards {
    flex-direction: column;
    align-items: start;
  }
}
.scroll-content main .cards .card {
  background-color: white;
  max-width: calc((100% - 60px) / 3);
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px 48px;
  border-radius: 8px;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .cards .card {
    max-width: 100%;
  }
}
.scroll-content main .cards .card h5 {
  margin: 0;
  padding: 0;
  font-size: 44px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.scroll-content main .offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 36px;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .offers {
    margin-top: 40px;
  }
}
.scroll-content main .offers h4 {
  margin: 0;
}
.scroll-content main .offers a {
  text-decoration: none;
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.scroll-content main .offers a svg {
  transform: translate(0, 25%);
}
.scroll-content main .container {
  max-width: 1110px;
  width: 100%;
  padding-bottom: 60px;
}
.scroll-content main .container .slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
.scroll-content main .container .slider-wrapper .gap2 {
  gap: 30px !important;
}
.scroll-content main .container .slider-wrapper .gap2 .image-item {
  width: 350px !important;
  flex: 0 0 350px !important;
}
.scroll-content main .container .slider-wrapper .image-list {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}
.scroll-content main .container .slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.scroll-content main .container .slider-wrapper .image-list .item-padding {
  padding-bottom: 20px !important;
}
.scroll-content main .container .slider-wrapper .image-list .no-border {
  border: none !important;
  background-color: white;
}
.scroll-content main .container .slider-wrapper .image-list .image-item {
  position: relative;
  width: 358px;
  flex: 0 0 358px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s;
}
.scroll-content main .container .slider-wrapper .image-list .image-item:hover {
  background-color: white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.scroll-content main .container .slider-wrapper .image-list .image-item:hover img.slider-main-image {
  object-position: 0px -4px;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .logo {
  position: absolute;
  right: 0;
  top: 16px;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .logo img {
  user-select: none;
  width: 78px;
  height: 56px;
  background-color: white;
}
.scroll-content main .container .slider-wrapper .image-list .image-item a {
  text-decoration: none;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .slider-main-image {
  width: 100%;
  height: 200px;
  transition: 0.4s all;
  object-fit: cover;
  object-position: 0px 0px;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .slider-secondary-image {
  height: 52px;
  width: min-content;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .image-info-reverse {
  flex-direction: column-reverse !important;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .image-info {
  user-select: none;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .image-info .category {
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #6f787b;
  font-weight: bold;
  margin: 0 0 24px;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .image-info .secondary-category {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #6f787b;
}
.scroll-content main .container .slider-wrapper .image-list .image-item .image-info h3 {
  margin: 0;
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  line-height: 30px;
  width: 292px;
}
.scroll-content main .container .scroll_buttons {
  display: flex;
  justify-content: space-between;
}
.scroll-content main .container .scroll_buttons .left-right-buttons {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .container .scroll_buttons .left-right-buttons {
    display: none;
  }
}
.scroll-content main .container .scroll_buttons .left-right-buttons svg {
  transition: 0.6s all;
  fill: #182CC0;
  cursor: pointer;
}
.scroll-content main .container .scroll_buttons .slider-scrollbar {
  height: 24px;
  width: 85%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 1120px) {
  .scroll-content main .container .scroll_buttons .slider-scrollbar {
    width: 100%;
  }
}
.scroll-content main .container .scroll_buttons .slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.scroll-content main .container .scroll_buttons .slider-scrollbar .scrollbar-track .scrollbar-thumb {
  position: absolute;
  background: #182CC0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.scroll-content main .container .scroll_buttons .slider-scrollbar .scrollbar-track .scrollbar-thumb:active {
  cursor: grabbing;
}
.scroll-content main .container .scroll_buttons .slider-scrollbar .scrollbar-track .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.scroll-content main .container .all-offers {
  display: block;
  text-align: right;
  font-size: 1rem;
  color: #182CC0;
  text-decoration: none;
}
.scroll-content main .container .all-offers:hover {
  text-decoration: underline;
  color: #182CC0;
}
.scroll-content main .paddingtop120px {
  padding-top: 120px;
  padding-bottom: 30px;
}
.scroll-content main .rewards {
  padding-top: 64px;
}
.scroll-content main .rewards h2 {
  padding-bottom: 32px;
}

.white-whole-width {
  margin: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}
.white-whole-width .inside-container {
  position: relative;
  padding: 32px 0;
  max-width: 1110px;
  width: 100%;
  min-height: 373px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1120px) {
  .white-whole-width .inside-container {
    flex-direction: column;
    align-items: start;
    max-width: 85%;
    width: 85%;
  }
}
.white-whole-width .inside-container div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: flex-start;
}
.white-whole-width .inside-container div h4 {
  order: 1;
}
@media screen and (max-width: 770px) {
  .white-whole-width .inside-container div h4 {
    margin: 0;
  }
}
.white-whole-width .inside-container div p {
  order: 3;
  width: 610px;
}
@media screen and (max-width: 1120px) {
  .white-whole-width .inside-container div p {
    width: 40vw;
  }
}
@media screen and (max-width: 770px) {
  .white-whole-width .inside-container div p {
    font-size: 14px;
    width: 100%;
  }
}
.white-whole-width .inside-container div .links {
  order: 4;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1120px) {
  .white-whole-width .inside-container div .links {
    display: none;
  }
}
.white-whole-width .inside-container div .links a {
  width: 134px;
  height: 51px;
  border: 1px solid #e1e4e5;
  box-sizing: border-box;
  padding: 16px 32px;
}
.white-whole-width .inside-container div .links img {
  width: 68px;
  height: 16px;
}
.white-whole-width .inside-container .mobile-download {
  display: none;
  order: 4;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 16px 32px;
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #182CC0;
  border: 1px solid #d1d5d6;
  font-weight: 700;
  background-color: #f9fafa;
}
@media screen and (max-width: 770px) {
  .white-whole-width .inside-container .mobile-download {
    width: 100%;
  }
}
.white-whole-width .inside-container .mobile-download:hover {
  border: 1px solid #182CC0;
}
.white-whole-width .inside-container .mobile-download svg {
  transform: translate(0, 12.5%);
}
@media screen and (max-width: 1120px) {
  .white-whole-width .inside-container .mobile-download {
    display: block;
  }
}
.white-whole-width .inside-container .links-main-image {
  order: 2;
  position: absolute;
  object-fit: contain;
  height: 373px;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 770px) {
  .white-whole-width .inside-container .links-main-image {
    position: static;
    width: 370px;
    height: auto;
  }
}
@media screen and (max-width: 440px) {
  .white-whole-width .inside-container .links-main-image {
    width: 80vw;
    height: auto;
  }
}

.box2 {
  width: 130px;
}
@media screen and (max-width: 1120px) {
  .box2 {
    width: 100% !important;
  }
}

.margintop0 {
  margin-top: 0px !important;
}

@media screen and (max-width: 770px) {
  .gray-bg {
    background-color: #f9fafa;
  }
}

footer {
  height: max-content;
}
footer .page-size {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1120px) {
  footer .page-size {
    width: 100%;
    align-items: center;
  }
}
footer .page-size .footer-top {
  padding: 45px 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
footer .page-size .footer-top .tbc-secondary-logo {
  display: none;
}
footer .page-size .footer-top svg {
  transform: translate(0, 15%) !important;
}
@media screen and (max-width: 1120px) {
  footer .page-size .footer-top {
    width: 85%;
  }
}
@media screen and (max-width: 770px) {
  footer .page-size .footer-top .tbc-main-logo {
    display: none;
  }
  footer .page-size .footer-top .tbc-secondary-logo {
    display: block;
    transform: translate(0, 0) !important;
  }
}
footer .page-size .footer-top .dropbtn {
  font-weight: bold;
  cursor: pointer;
  color: #555F62;
  font-size: 16px;
  border: none;
  transition: 0.2s all ease-in-out;
  padding: 8px 10px;
  border-radius: 10%;
}
@media screen and (max-width: 1120px) {
  footer .page-size .footer-top .dropbtn {
    background-color: #f9fafa;
  }
}
footer .page-size .footer-top .dropdown {
  position: relative;
  display: inline-block;
}
footer .page-size .footer-top .dropdown-content {
  min-width: 100%;
  width: 100%;
  z-index: 10;
  padding-top: 8px;
  display: none;
  position: absolute;
  background-color: transparent;
}
footer .page-size .footer-top .dropdown-content a {
  text-align: center;
  min-width: 100%;
  width: 100%;
  padding: 12px 0px;
  background-color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.4s all ease-in-out;
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
footer .page-size .footer-top .dropdown-content a:hover {
  background-color: #e6e6e6;
}
footer .page-size .footer-top .dropdown:hover .dropdown-content {
  display: block;
}
footer .page-size .footer-top .dropdown:hover .dropbtn {
  background-color: #e6e6e6;
}
footer .page-size .lists {
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  width: 100%;
}
@media screen and (max-width: 1120px) {
  footer .page-size .lists {
    width: 85%;
  }
}
@media screen and (max-width: 770px) {
  footer .page-size .lists {
    display: none;
  }
}
footer .page-size .lists ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .page-size .lists ul .list-header a {
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
footer .page-size .lists ul li:not(.list-header) a {
  text-decoration: none;
  color: #555F62;
  transition: 0.9s;
}
footer .page-size .lists ul li:not(.list-header) a:hover {
  color: #182CC0;
}
footer .page-size .lists ul li:not(.list-header) .contact-list {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .page-size .lists ul li:not(.list-header) .contact-list a {
  display: flex;
}
footer .page-size .lists ul li:not(.list-header) .contact-list a img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  transform: translate(0, 25%) !important;
}
footer .page-size .lists ul li:not(.list-header) .contact-list a p {
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  font-weight: 500;
  color: #555F62;
  margin: 0;
}
footer .page-size .lists ul li:not(.list-header) .contact-list a p:hover {
  text-decoration: underline #555F62;
}
footer .page-size .lists ul li:not(.list-header) .social-media .social-title {
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  font-weight: bold;
  margin-top: 8px;
}
footer .page-size .lists ul li:not(.list-header) .social-media .social-media-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
footer .page-size .lists ul li:not(.list-header) .social-media .social-media-list svg {
  width: 18px;
  height: 18px;
  padding: 11px;
  background-color: #f9fafa;
  fill: #555F62;
  transition: 0.4s;
  border-radius: 6px;
  cursor: pointer;
}
footer .page-size .lists ul li:not(.list-header) .social-media .social-media-list svg:hover {
  fill: #182CC0;
  background-color: #ebeeee;
}
footer .page-size .footer_bottom {
  padding: 36px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1120px) {
  footer .page-size .footer_bottom {
    width: 85%;
  }
}
footer .page-size .footer_bottom p {
  color: #6f787b !important;
}
@media screen and (max-width: 770px) {
  footer .page-size .footer_bottom {
    align-content: space-between;
    width: 85%;
    flex-direction: column-reverse;
    gap: 32px;
  }
}
footer .page-size .footer_bottom div {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 450px) {
  footer .page-size .footer_bottom div {
    flex-direction: column;
  }
}
footer .page-size .footer_bottom div svg {
  fill: #555F62;
  width: 21px;
  height: 21px;
}
@media screen and (max-width: 770px) {
  footer .page-size .footer_bottom div svg {
    margin-right: 8px;
    fill: #6f787b;
  }
}
footer .page-size .footer_bottom div p {
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
@media screen and (max-width: 770px) {
  footer .page-size .footer_bottom div p {
    font-size: 14px;
  }
}
footer .page-size .footer_bottom .rights-protected {
  gap: 0;
}
footer .divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #eef1f1;
}

.scroll-content {
  position: relative;
  height: calc(100vh - 80px);
  overflow-y: auto;
  box-sizing: border-box;
}

.scroll-content::-webkit-scrollbar {
  width: 10px;
}

.scroll-content::-webkit-scrollbar-track {
  background-color: rgba(222, 222, 222, 0.75);
  border-radius: 4px;
}

.scroll-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

@media screen and (max-width: 1120px) {
  .scroll-content::-webkit-scrollbar {
    width: 0;
  }
}
.pop_up_form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(20, 23, 25, 0.5);
  height: 100vh;
  z-index: 1000;
}
.pop_up_form form {
  width: 600px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 770px) {
  .pop_up_form form {
    width: 100vw;
  }
}
.pop_up_form form .form-header {
  border-bottom: 1px solid #eef1f1;
  padding: 32px 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
@media screen and (max-width: 470px) {
  .pop_up_form form .form-header {
    padding: 24px 15px;
  }
}
.pop_up_form form .form-header h2 {
  font-size: 24px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
@media screen and (max-width: 470px) {
  .pop_up_form form .form-header h2 {
    font-size: 14px;
  }
}
.pop_up_form form .form-header svg {
  box-sizing: border-box;
  background-color: #eef1f1;
  padding: 11px;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.pop_up_form form .main-form {
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  overflow-y: auto;
}
@media screen and (max-width: 470px) {
  .pop_up_form form .main-form {
    padding: 32px 15px;
  }
  .pop_up_form form .main-form iframe {
    width: 80vw;
    height: auto;
  }
}
.pop_up_form form .main-form::-webkit-scrollbar {
  width: 0;
}
.pop_up_form form .main-form .input-wrap {
  width: 100%;
  position: relative;
}
.pop_up_form form .main-form h3 {
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #555F62;
  font-weight: normal;
  margin-bottom: 14px;
}
@media screen and (max-width: 470px) {
  .pop_up_form form .main-form h3 {
    font-size: 14px;
  }
}
.pop_up_form form .main-form .required {
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: red;
}
.pop_up_form form .main-form input {
  height: 56px;
  transition: 0.4s all;
}
.pop_up_form form .main-form textarea {
  resize: vertical;
}
.pop_up_form form .main-form input, .pop_up_form form .main-form textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #eef1f1;
  background-color: #f9fafa;
  padding: 22px 12px 8px;
  box-sizing: border-box;
  z-index: 10;
}
.pop_up_form form .main-form input::placeholder, .pop_up_form form .main-form textarea::placeholder {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.pop_up_form form .main-form input:hover, .pop_up_form form .main-form textarea:hover {
  border-color: #e1e4e5;
}
.pop_up_form form .main-form input:focus, .pop_up_form form .main-form textarea:focus {
  outline: 0;
  border-color: #00adee !important;
}
.pop_up_form form .main-form label {
  z-index: 0;
  user-select: none;
  position: absolute;
  transition: 0.4s all;
  top: 16px;
  left: 12px;
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #555F62;
}
.pop_up_form form .main-form .counter {
  position: absolute;
  bottom: 32px;
  right: 18px;
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #555F62;
}
.pop_up_form form .main-form .checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 14px 0px;
}
.pop_up_form form .main-form .checkbox #checkbox {
  width: 18px;
  height: 18px;
  background-color: #f9fafa;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.pop_up_form form .main-form .checkbox #checkbox:hover {
  border: 1px solid #182cc0;
  outline: 0;
}
.pop_up_form form .main-form .checkbox a {
  font-size: 12px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  color: #555F62;
  margin-left: 12px;
}
.pop_up_form form .main-form .red {
  color: red !important;
}
.pop_up_form form .form-footer {
  width: 100%;
  padding: 32px 56px;
  z-index: 1000;
  border-top: 1px solid #eef1f1;
  box-sizing: border-box;
  flex-shrink: 0;
}
@media screen and (max-width: 470px) {
  .pop_up_form form .form-footer {
    padding: 32px 15px;
  }
}
.pop_up_form form .form-footer button {
  border: none;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 24px;
  font-weight: bold;
  font-size: 12px;
  background-color: #3295ce;
  color: white;
  transition: 0.4s all;
  cursor: pointer;
}
.pop_up_form form .form-footer button svg {
  transform: translate(0, 25%);
}
.pop_up_form form .form-footer button:disabled {
  color: #a5aaac;
  cursor: default;
  background-color: #e9ebec;
}

/*# sourceMappingURL=style.css.map */
