@use 'var' as *;
@use 'mixins' as *;
@use 'nav' as *;
// common things

@include Init;

.blue-hover {
  color: $not-active-blue !important;
  transition: 0.4s all;
  font-weight: 700;

  &:hover {
    color: $active !important;
  }
}



// header
@include nav;
//main
main{
  margin-top: 80px;
}