@use 'var' as *;
@use 'mixins' as *;
@use 'nav' as *;

* {
}

.additional-information-wrap {
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 40px;
  flex-direction: column-reverse;
  gap: 12px;
  @media screen and (max-width: 1440px) {
    bottom: 32px;
    right: 32px;
  }
  @media screen  and (max-width: 1120px){
    bottom: 24px;
    right: 24px;
  }
  @media screen  and (max-width: 470px){
    bottom: 15px;
    right: 15px;
  }

  .additional-information {
    cursor: pointer;
    width: 56px;
    height: 56px;
    @media screen  and (max-width: 470px){
      width: 48px;
      height: 48px;
    }

    background-color: #424a4d;
    border-radius: 50%;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      fill: white;
    }
  }

  .component {
    display: none;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    @media screen  and (max-width: 470px){
      width: 48px;
      height: 48px;
    }
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #eef1f1;
    background-color: white;
    transition: 0.4s all;
    &:hover {
      background-color: $active;

      svg {
        fill: white;
      }
    }

    svg {
      transition: 0.4s all;
      width: 28px;
      height: 28px;
      fill: $gray;
    }
  }
}

@include Init;

.blue-hover {
  color: $not-active-blue !important;
  transition: 0.4s all;
  font-weight: 700;

  &:hover {
    color: $active !important;
  }
  @media screen and (max-width: 470px) {
    font-size: 14px !important;
    width: min-content;
  }
}

h4 {
  @include font(24px)
}

h2 {

}

p {
  @include font(16px);
  color: $gray;
}

.px14 {
  font-size: 14px !important;
  font-weight: normal !important;
}

// header
@include nav;
//main
.scroll-content {
  position: absolute;

  main {
    .whole-width {
      background-color: $gray3;

      section {
        max-width: $page-size;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width: 1120px) {
          margin: 0 auto;
          max-width: 85%;
        }
        @media screen and (max-width: 770px) {
          max-width: 100%;;
        }

        .small-title {
          @include font(12px);
          padding: 24px 0;
          margin: 0;
          font-weight: 500;
          @media screen and (max-width: 770px) {
            width: 85%;
            margin: auto;
          }
        }

        .picture1 {
          background-image: url("../images/banner1.webp");
          background-size: 101%;
        }

        .picture2 {
          background-image: url("../images/banner2.png");
          background-size: 105%;
          @media screen and (max-width: 1120px) {
            background-size: 1400px !important;
          }
        }


        .concept-banner {
          margin: 32px 0 60px;
          width: 100%;
          min-height: 376px;
          @media screen and (max-width: 1120px) {
            margin: 0;
            min-height: 450px;
            background-size: 1100px;
            align-items: flex-end;
          }
          height: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 6px;
          background-color: rgba(69, 72, 73, 0.6);
          background-blend-mode: overlay;
          display: flex;
          align-items: center;
          justify-content: center;


          .banner-info {
            display: flex;
            flex-direction: column;
            gap: 22px;
            max-width: 910px;
            width: 85%;

            line-height: 1.5;
            @media screen and (max-width: 1120px) {
              padding-bottom: 24px;
            }
            @media screen and (max-width: 750px) {
              font-size: 24px;
              width: 94%;
            }

            h3 {
              @include font(28px);
              @media screen and (max-width: 1300px) {
                font-size: 24px;
              }
              margin: 0;
              color: white;
              padding: 0;
              height: 42px;
            }

            p {
              margin: 0;
              width: 540px;
              @include font(16px);
              color: white;
              @media screen and (max-width: 1300px) {
                font-size: 14px;
              }
              @media screen and (max-width: 750px) {
                max-width: 100%;
                width: 100%;
              }
            }

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 150px;

              svg {
                fill: white;
                margin-right: 4px;
              }


              @media screen and (max-width: 1120px) {
                width: 100% !important;
              }
              height: 50px;
              background-color: $not-active-blue;
              background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.43));;
              transition: 0.25s all;
              border-radius: 4px;
              text-decoration: none;

              &:hover {
                background-color: #3295CE;
                background-image: linear-gradient(0deg, transparent, transparent);

              }


              p {
                width: fit-content;
                margin: 0;
                padding: 0;
                @include font(12px);
                color: white;
                font-weight: bold;
                box-sizing: border-box;
                text-decoration: none;

              }
            }
          }
        }
      }
    }

    article {
      max-width: $page-size;
      width: 100%;
      margin: 120px auto 0;
      @media screen and (max-width: 1120px) {
        margin: 72px auto 0;
        max-width: 85%;
      }

      h1 {
        @include font(36px);
        font-weight: 500;
        line-height: 1.5;
        @media screen and (max-width: 1120px) {
          font-size: 28px;
        }
        @media screen and (max-width: 770px) {
          font-size: 24px;
        }
        @media screen and (max-width: 470px) {
          font-size: 14px;
        }
      }
    }

    h4 {
      margin: 120px 0 36px;
      @media screen and (max-width: 1120px) {
        margin: 100px 0 36px;
      }
      @media screen and (max-width: 770px) {
        font-size: 14px;
      }
    }

    .container-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px;
      width: 100%;
      margin-bottom: 60px;
      @media screen and (max-width: 770px) {
        overflow-x: scroll !important;
        display: flex;
        .grid-elem {
          width: 280px !important;
          height: 232px !important;
        }
      }

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        background-color: rgba(69, 72, 73, 0.6);
        background-blend-mode: overlay;
        transition: 0.4s;

        .contents {
          padding: 40px;

          p {
            transition: 0.4s all;

            svg {
              transition: 0.4s all;
              transform: translate(0, 25%);
              fill: white;
              margin-right: 4px;
            }

            padding: 0;
            margin: 0;
            text-decoration: underline white solid 1px;
            @include font(14px);
            color: white;
            font-weight: bold;

            &:hover {
              svg {
                fill: $gray2;
              }

              color: $gray2;
              text-decoration: none;
            }
          }

          h3 {
            @include font(24px);
            color: white;
            font-weight: bold;
            margin: 0;
            margin-bottom: 8px;
            @media screen  and (max-width: 770px){
              font-size: 16px;
            }
          }
        }
      }
    }

    .left-top {
      height: 256px;
      grid-column: 1;
      grid-row: 1;
      border-radius: 8px;
      background-position: center;
      background-image: url("https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png");
      background-size: auto 130%;

      &:hover {
        background-size: auto 135%;
      }
    }

    .left-bottom {
      height: 256px;
      grid-column: 1;
      grid-row: 2;
      border-radius: 8px;
      background-position: center;
      background-image: url("https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png");
      background-size: 100%;

      &:hover {
        background-size: 104%;
      }
    }

    .right {
      border-radius: 8px;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      background-position: center;
      background-image: url("https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png");
      background-size: auto 100%;

      &:hover {
        background-size: auto 104%;
      }
    }

    @media screen and (max-width: 770px) {
      .container-grid {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 6px;
      }

      .container-grid .grid-elem {
        flex: 0 0 auto;
        width: 280px;
        height: 232px;
        margin-right: 10px;
      }
    }

    .cards {
      padding: 60px 0;
      gap: 30px;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1120px) {
        flex-direction: column;
        align-items: start;
      }

      .card {
        background-color: white;
        max-width: calc((100% - 60px) / 3);
        width: 100%;
        @media screen and (max-width: 1120px) {
          max-width: 100%;
        }
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 40px 48px;
        border-radius: 8px;

        h5 {
          margin: 0;
          padding: 0;
          @include font(44px)
        }

      }
    }

    .offers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 60px;
      margin-bottom: 36px;
      @media screen and (max-width: 1120px) {
        margin-top: 40px;
      }

      h4 {
        margin: 0;
      }

      a {
        text-decoration: none;
        @include font(16px);

        svg {
          transform: translate(0, 25%);
        }
      }
    }

    .container {
      max-width: $page-size;
      width: 100%;
      padding-bottom: 60px;

      .slider-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;

        .gap2 {
          gap: 30px !important;

          .image-item {
            width: calc((($page-size - (30px * 2)) / 3)) !important;
            flex: 0 0 calc((($page-size - (30px * 2)) / 3)) !important;
          }
        }

        .image-list {
          display: flex;
          gap: 18px;
          overflow-x: auto;
          scrollbar-width: none;
          margin: 0;
          padding: 0;

          &::-webkit-scrollbar {
            display: none;
          }

          .item-padding {
            padding-bottom: 20px !important;
          }

          .no-border {
            border: none !important;
            background-color: white;
          }

          .image-item {
            position: relative;
            width: calc((($page-size - (18px * 2)) / 3));
            flex: 0 0 calc((($page-size - (18px * 2)) / 3));
            border: 1px solid #ddd;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;
            transition: 0.4s;

            &:hover {
              background-color: white;
              box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);

              img.slider-main-image {
                object-position: 0px -4px;
              }
            }

            .logo {
              position: absolute;
              right: 0;
              top: 16px;

              img {
                user-select: none;
                width: 78px;
                height: 56px;
                background-color: white;
              }
            }

            a {
              text-decoration: none;
            }

            .slider-main-image {
              width: 100%;
              height: 200px;
              transition: 0.4s all;
              object-fit: cover;
              object-position: 0px 0px;
            }

            .slider-secondary-image {
              height: 52px;
              width: min-content;
            }

            .image-info-reverse {
              flex-direction: column-reverse !important;
            }

            .image-info {
              user-select: none;
              padding: 28px;
              display: flex;
              flex-direction: column;
              gap: 16px;

              .category {
                @include font(12px);
                color: #6f787b;
                font-weight: bold;
                margin: 0 0 24px;
              }

              .secondary-category {
                @include font(14px);
                color: #6f787b;
              }

              h3 {
                margin: 0;
                @include font(16px);
                line-height: 30px;
                width: 292px;
              }
            }
          }
        }
      }

      .scroll_buttons {
        display: flex;
        justify-content: space-between;

        .left-right-buttons {
          display: flex;
          gap: 16px;
          @media screen and (max-width: 1120px) {
            display: none;
          }

          svg {
            transition: 0.6s all;
            fill: $not-active-blue;
            cursor: pointer;
          }
        }

        .slider-scrollbar {
          height: 24px;
          width: 85%;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          @media screen and (max-width: 1120px) {
            width: 100%;
          }

          .scrollbar-track {
            background: $scrollbar-track-color;
            width: 100%;
            height: 2px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            position: relative;


            .scrollbar-thumb {
              position: absolute;
              background: $not-active-blue;
              top: 0;
              bottom: 0;
              width: 50%;
              height: 100%;
              cursor: grab;
              border-radius: inherit;

              &:active {
                cursor: grabbing;
                //height: 8px;
                //top: -2px;
              }

              &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -10px;
                bottom: -10px;
              }
            }
          }
        }
      }

      .all-offers {
        display: block;
        text-align: right;
        font-size: 1rem;
        color: $not-active-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $not-active-blue;
        }
      }
    }

    .paddingtop120px {
      padding-top: 120px;
      padding-bottom: 30px;
    }

    .rewards {
      padding-top: 64px;

      h2 {
        padding-bottom: 32px;
      }
    }
  }

}

.white-whole-width {
  margin: 0;
  background-color: white;
  width: 100%;
  height: 100%;

  .inside-container {
    position: relative;
    padding: 32px 0;
    max-width: $page-size;
    width: 100%;
    min-height: 373px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1120px) {
      flex-direction: column;
      align-items: start;
      max-width: 85%;
      width: 85%;

    }

    div {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 100%;
      align-items: flex-start;
      h4 {
        order: 1;
        @media screen  and (max-width: 770px){
          margin: 0;
        }
      }

      p {
        order: 3;
        width: 610px;
        @media screen and (max-width: 1120px) {
          width: 40vw;
        }
        @media screen and (max-width: 770px) {
          font-size: 14px;
          width: 100%;
        }
      }

      .links {
        order: 4;
        display: flex;
        @media screen and (max-width: 1120px) {
          display: none;
        }
        flex-direction: row;

        a {
          width: 134px;
          height: 51px;
          border: 1px solid #e1e4e5;
          box-sizing: border-box;
          padding: 16px 32px;
        }

        img {

          width: 68px;
          height: 16px;
        }
      }
    }

    .mobile-download {
      display: none;
      order: 4;
      text-decoration: none;
      text-align: center;
      box-sizing: border-box;
      padding: 16px 32px;
      @include font(12px);
      color: $not-active-blue;
      @media screen  and (max-width: 770px){
        width: 100%;
      }
      border: 1px solid $gray2;

      &:hover {
        border: 1px solid $not-active-blue;
      }

      font-weight: 700;
      background-color: $gray3;

      svg {
        transform: translate(0, 12.5%);
      }

      @media screen and (max-width: 1120px) {
        display: block;
      }
    }

    .links-main-image {
      order: 2;
      position: absolute;
      @media screen and (max-width: 770px) {
        position: static;
        width: 370px;
        height: auto;
      }
      @media screen and (max-width: 440px) {
        width: 80vw;
        height: auto;
      }
      object-fit: contain;
      height: 373px;
      right: 0;
      bottom: 0;
    }
  }
}


.box2 {
  width: 130px;
  @media screen and (max-width: 1120px) {
    width: 100% !important;
  }
}
.margintop0{
  margin-top: 0px !important;
}
@include footer;
@include scroll;
@include form;
//

