.hidden-element {
  visibility: hidden;
  pointer-events: none;
}

body {
  margin: 0 0;
  padding: 0 0;
}

@font-face {
  font-family: "TBC";
  src: url("../fonts/TBCXRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TBC";
  src: url("../fonts/TBCXMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TBC";
  src: url("../fonts/TBCXBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.blue-hover {
  color: #182CC0 !important;
  transition: 0.4s all;
  font-weight: 700;
}
.blue-hover:hover {
  color: #3295CE !important;
}

.full-nav-desktop {
  position: relative;
}
.full-nav-desktop svg {
  transform: translate(0, 15%) !important;
}
.full-nav-desktop a {
  font-family: "TBC", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.full-nav-desktop header {
  position: sticky;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #eef1f1;
}
.full-nav-desktop header .desktop-nav {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
}
.full-nav-desktop header .desktop-nav .nav-left {
  display: flex;
  align-items: center;
  gap: 72px;
}
.full-nav-desktop header .desktop-nav .nav-left .tbc-main-logo {
  fill: #555F62;
}
.full-nav-desktop header .desktop-nav .nav-left .nav-contents {
  display: flex;
  gap: 32px;
}
.full-nav-desktop header .desktop-nav .nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.full-nav-desktop header .desktop-nav .nav-right .nav-search {
  transform: translate(0, 0) !important;
  margin: 0;
  padding: 8px;
  cursor: pointer;
  fill: #555F62;
}
.full-nav-desktop header .desktop-nav .nav-right .nav-search:hover {
  fill: #3295CE;
}
.full-nav-desktop header .desktop-nav .nav-right .dropbtn {
  font-weight: bold;
  cursor: pointer;
  color: #555F62;
  font-size: 16px;
  border: none;
  transition: 0.2s all ease-in-out;
  padding: 8px 10px;
  border-radius: 10%;
}
.full-nav-desktop header .desktop-nav .nav-right .dropdown {
  position: relative;
  display: inline-block;
}
.full-nav-desktop header .desktop-nav .nav-right .dropdown-content {
  padding-top: 8px;
  display: none;
  position: absolute;
  background-color: transparent;
}
.full-nav-desktop header .desktop-nav .nav-right .dropdown-content a {
  padding: 12px 22px;
  background-color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.4s all ease-in-out;
  border-radius: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.full-nav-desktop header .desktop-nav .nav-right .dropdown-content a:hover {
  background-color: #e6e6e6;
}
.full-nav-desktop header .desktop-nav .nav-right .dropdown:hover .dropdown-content {
  display: block;
}
.full-nav-desktop header .desktop-nav .nav-right .dropdown:hover .dropbtn {
  background-color: #e6e6e6;
}
.full-nav-desktop header .desktop-nav .nav-right a {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.full-nav-desktop .nav-rest {
  display: block;
  border: 1px solid black;
  height: 242px;
  width: 100%;
  position: absolute;
  z-index: 10000;
}
.full-nav-desktop .nav-rest .main-content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  min-height: 191px;
  height: 100%;
  display: flex;
  padding: 32px;
  gap: 47px;
}
.full-nav-desktop .nav-rest .main-content .add-image {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.full-nav-desktop .nav-rest .main-content .add-image a {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
}
.full-nav-desktop .nav-rest .main-content .add-contents {
  display: flex;
  gap: 20px;
  min-width: 450px;
  width: 100%;
}
.full-nav-desktop .nav-rest .main-content .add-contents ul {
  width: 120px;
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.full-nav-desktop .nav-rest .main-content .add-contents ul li a {
  font-size: 14px;
  font-family: "TBC";
  line-height: 1.7;
  color: #141719;
  font-weight: 500;
}
.full-nav-desktop .nav-rest .main-content .add-contents ul:last-child {
  margin-left: 14px;
}

main {
  margin-top: 80px;
}

/*# sourceMappingURL=style.css.map */
